{:deps
 {com.phronemophobic/membrane {:git/sha "882a5c34d3cee7d7e6ae627778317c2f3117ef8b"
                               :git/url "https://github.com/phronmophobic/membrane"}

  com.phronemophobic.membrane/skialib-linux-x86-64 {:mvn/version "0.17-beta"}
  com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.17-beta"}
  com.phronemophobic.membrane/skialib-macosx-x86-64 {:mvn/version "0.17-beta"}

  hiccup/hiccup {:mvn/version "2.0.0-RC5"}
  compost/compost {:local/root "../.."}
  examples/common {:local/root "../common"}}}
